<div class="jumbo">
    <div class = "right tomster"/>
    <h2>Rental buildings</h2>
    <p>Something something about buildings</p>
    {{#link-to "contact" class = "button"}}
    Contact us
    {{/link-to}}
</div>